@import 'variables';
@import 'mixins';

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Anton", system-ui;
}

main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(-30deg, #002b5b, #2b4865, #256d85, #8fe3cf);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.title {
  font-size: $title-font;
  text-transform: uppercase;
}

.loading {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;

  .icon {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
  
    svg {
      width: 300px;
      height: 300px;
      color: rgba(255,255,255,0.7);
      animation: rotating 1s linear infinite;
    }

    &::after {
      content: 'Loading';
      display: block;
      font-size: 55px;
      color: rgba(255,255,255,0.7);
      font-weight: 700;
      
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}
